
{% extends 'layout-admin.html.twig' %}

{% block title %}Admin - Ajout jeux{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}

    <h1 class="text-center">Nouveau Compte admin</h1>
   
<div class=" box-connect no-bg margin-auto">



    	{{ form_start(form) }}
    	{{ form_errors(form.pseudo) }}
    	{{ form_widget(form.pseudo, {'attr': {'placeholder': 'Pseudo', 'title': 'Indiquez un pseudo', 'class': 'userconnect'} }) }}

    	{{ form_errors(form.plainPassword) }}
    	{{ form_widget(form.plainPassword, {'attr': {'placeholder': 'Mot de passe', 'title': 'Indiquez un mot de passe', 'class': 'userconnect'} }) }}

    	{{ form_row(form.submit, {'attr': {'label': "Ajouter",  'class': 'connectbtn'} }) }}
    	{{ form_end(form) }}



    </div>
        	{% for message in app.flashes('success') %}
    		<div class="alert alert-success">
    			{{ message }}
    		</div>
    	{% endfor %}
    
    
</div>

        
   

    
{% endblock %}
         