{% extends 'layout.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}

   {{ parent() }}
   

{% endblock %}

  {% block content %}
    <section class="cat_product_area section_gap">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="product_top_bar">
              <div class="left_dorp">
                {{ form_start(form) }}
                {{ form_widget(form.firstTri) }}
               
               

                {{ form_widget(form.numberTri, {'attr': {'class': 'margin-left-20'} }) }}
              
               <ul class="navbar-right pull-right allRightNav">

                {% if  (search is defined) %}
                  {% if search != "" %}
                  <p class="bold searchbar allRightNav">Rechercher: "{{search}}"</p> 
                  {% endif %}
                {% endif %}
                  
                
              </ul>
            



      

      



              </div>

              {% block searchForm %}
              {% endblock %}


            

              


               
            


                


            </div>

            <div class="latest_product_inner">
              <div class="row">




                {% for jeu in jeux %}


                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="{{ path('category_id', {'id': jeu.id}) }}"><img
                      class="card-img"
                      src="{{jeu.image}}"
                      alt="{{jeu.nom}}"/></a>
                      <div class="p_icon">
                        <a href="{{ path('category_id', {'id': jeu.id}) }}">
                          <i class="ti-eye"></i>
                        </a>
                             <!--
                          <a href="#">
                            <i class="ti-heart"></i>
                          </a>
                        
                          <a href="#">
                            <i class="ti-shopping-cart"></i>
                          </a>
                        -->
                        
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>{{jeu.nom}}</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">{{jeu.prix}} €</span>
                        
                      </div>
                    </div>
                  </div>
                </div>
                 
               
                {% endfor %}
                  {{ knp_pagination_render(jeux) }}

        
           

                <div class="main">
                
                    
                   
                 
                  <!--
                  <div id="pagination">
                    <a class="page" href="#">&laquo;</a>
                    <a class="page" href="#">1</a>
                    <a class="page active" href="#">2</a>
                    <a class="page" href="#">3</a>
                    <a class="page" href="#">4</a>
                    <a class="page" href="#">5</a>
                    <a class="page" href="#">6</a>
                    <a class="page" href="#">&raquo;</a>
                  </div>
                -->
                </div>
              


              </div>


            </div>

          </div>
           






          <div class="col-lg-3">
            <div class="left_sidebar_area">
              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>Catégories</h3>
                </div>
                <div class="widgets_inner">
                  <ul class="list">
                     {{ form_widget(form.jeuxes, {'attr': {'class': ''} }) }}
                   

               </ul>
             </div>
           </aside>

           <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
             <h3>Nombres de joueurs</h3>
           </div>
           <div class="widgets_inner">
            <ul class="list">
              {{ form_widget(form.nbJoueur) }}

         </ul>
       </div>
     </aside>

     <aside class="left_widgets p_filter_widgets">
      <div class="l_w_title">
        <h3>Durée</h3>
      </div>
      <div class="widgets_inner">
        <ul class="list">
          {{ form_widget(form.duree) }}
         
      </ul>
    </div>
  </aside>


 

  <aside class="left_widgets p_filter_widgets special-width-age-container">
    <div class="l_w_title">
     <h3>Âge</h3>
   </div>
   <div class="widgets_inner">
    <div id="container-text-age">

      <div class="review_box">
        <p id="age-text">Jusque:</p> <p id="text-age-choice"></p>
      </div>
    </div>
    <div class="clear">
    </div>

    <ul class="ul-age">
      {{ form_widget(form.age, {'attr': {'class': ''} }) }}


   </ul>


 </div>
</aside>


<aside class="left_widgets p_filter_widgets">
  <div class="l_w_title">
    <h3>Prix</h3>
  </div>
  <div class="widgets_inner">
    <div class="range_item">
      <div id="slider-range"></div>
     <!-- <div class="">-->
     <p class="float-left">Moins de: &nbsp</p> <div id="f"></div>
      <p class="float-left">€</p>
     <div class="slidecontainer">
        {{ form_widget(form.prix, {'attr': {'class': ''} }) }}
      </div>
       <!-- <label for="amount">Price : </label>
        <input type="text" id="amount" readonly />-->
        <div class="display-none">
          {{ form_widget(form.tri)}}
        </div>
      <!-- <button class="filtre">rechercher</button>-->
            
            {{ form_end(form) }}
       
    <!-- </div>-->
    </div>
  </div>
</aside>
</div>
</div>

</div>


</div>

</div>




</section>
{% endblock %}
{% block javascriptAdd %} <script src="{{asset('js/searchOnClick.js')}}"></script>{% endblock %}
