{% extends 'layout.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

	 {{ parent() }}
	 

{% endblock %}


{% block content %}

    <section class="new_product_area section_gap_top section_gap_bottom_custom">
  

      <div class="row margin auto">
        <div class="col-lg-6 margin-auto">
          <div class="box-account no-bg margin-auto">
            <div class="choice-account">
              <div class="title-account titlea-current">
               <a class="title-a" href="{{ path('compte') }}">Mon compte</a>
              </div>
              <div class="title-account">
               <a class="title-a" href="{{ path('myVotes') }}">Mes votes</a>
                </div>
               <div class="title-account">
               <a class="title-a" href="{{ path('myComments') }}">Mes avis</a>
                </div>

            </div>
            <h5 class="text-uppercase text-center">Mon compte</h5>

            <p class="p-account">Pseudo:</p> <p>{{ app.user.username }}</p>
            <p class="p-account">E-mail:</p>
             <p>
              {% if (app.user.email) %}
                  {{ app.user.email }} <button id="showFormEmail" >Modifier e-mail</button></br>
                 

                   <div id="showForm" class="display-none">
                     {{ form_start(form) }}
                         {{ form_widget(form.email, {'attr': {'placeholder':'Inscris ton e-mail ici', 'class': ''} }) }}
                         {{ form_widget(form.submit, {'attr': {'class': ''} }) }}

                     {{ form_end(form) }}
                     <a class="black margin-left-195 " href="{{ path('compte') }}" class="display-none">Annuler</a></br>
                   </div>

                  {% for message in app.flashes('success') %}
                      <div class="alert alert-success">
                        {{ message }}
                      </div>
                  {% endfor %}

                  {% for message in app.flashes('error') %}
                      <div class="alert alert-danger">
                        {{ message }}
                      </div>
                  {% endfor %}


                    <a class="cancel" href="{{ path('deleteEmail') }}">dissocier cet email</a></br>

              {% else %}<p>
                    <button id="showFormEmail" >Ajouter un e-mail</button></br>

                    <div id="showForm" class="display-none">
                     {{ form_start(form) }}
                         {{ form_widget(form.email, {'attr': {'placeholder':'Inscris ton e-mail ici', 'class': ''} }) }}
                         {{ form_widget(form.submit, {'attr': {'class': ''} }) }}

                     {{ form_end(form) }}
                     <a class="cancel" href="{{ path('compte') }}" class="display-none">Annuler</a></br>
                   </div>
             {% endif %}
   


              <a  href="{{ path('editPassword') }}" >Modifier mot de passe</a></br>

              {% if (app.user.email == null) %}
                <i>NB: Ajouter un e-mail vous permettra de récupérer votre compte en cas d'oubli du mot de passe.</i>
              {% endif %}
         
              
          </div>
          
        </div>

        
      </div>
    </div>
  </section>

	 

{% endblock %}
