{% extends 'layout.html.twig' %}

{% block title %}Mon compte - Mot de passe{% endblock %}

{% block body %}

	 {{ parent() }}
	 

{% endblock %}


{% block content %}

    <section class="new_product_area section_gap_top section_gap_bottom_custom">
  

      <div class="row margin auto">
        <div class="col-lg-6 margin-auto">
          <div class="box-account no-bg margin-auto">
            <h5 class="text-center">Changement mot de passe</h5>

            

             <div class="box-connect no-bg margin-auto">
             {{ form_start(formPass) }}
                {{ form_widget(formPass.currentPassword, {'attr': {'placeholder':'Mot de passe actuel', 'class': 'userconnect'} }) }}
                {{ form_widget(formPass.newPassword, {'attr': {'placeholder':'Nouveau mot de passe', 'class': 'userconnect'} }) }}

             {{ form_end(formPass) }}

             <a class="cancel" href="{{ path('compte') }}">Annuler</a></br>
           </div>

           {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              {{ message }}
            </div>
          {% endfor %}

          {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
              {{ message }}
            </div>
          {% endfor %}

 

            
              
          </div>
          
        </div>

        
      </div>
    </div>
  </section>

	 

{% endblock %}
