{% extends 'layout.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

	 {{ parent() }}
	 

{% endblock %}


{% block content %}

	 <section class="new_product_area section_gap_top section_gap_bottom_custom">
  

      <div class="row">
        <div class="col-lg-6">
          <div class="new_product no-bg">
            <h5 class="text-uppercase">Trouver votre jeu idéal</h5>
            <h3 class="text-uppercase">Un bon jeu pour une bonne soirée</h3>
            <div class="product-img">
              <img class="img-fluid" src="{{asset('img/index-image.jpg')}}" alt="" />
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0">

        <h5 class="text-uppercase text-best">  <a class="click-vue" href="{{ path('category') }}"> Jeux récement ajouté !</a></h5>

           {% set i = 0 %}

          {% for jeu in jeux %}
            {% if i < 3 %}

            {% if i == 0 %}

                <div class="single-product">
                  

                      <div class="col-lg-4 best-three-games ">
                        <div class="single-product">
                          <div class="product-img">
                             <a href="{{ path('category_id', {'id': jeu.id}) }}"><img
                              class="card-img height-200"
                              src="{{jeu.image}}"
                              alt=""/></a>
                            
                          </div>
                          <div class="product-btm">
                            <a href="#" class="d-block">
                              <h4>{{jeu.nom}}</h4>
                            </a>
                            <div class="mt-3">
                              <span class="mr-4">{{jeu.prix}} €</span>
                               <!-- <del>$40.00</del> -->
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
            {% else %}
                   <div class="single-product">
                  

                      <div class="col-lg-4 best-three-games margin-top-three">
                        <div class="single-product">
                          <div class="product-img">
                             <a href="{{ path('category_id', {'id': jeu.id}) }}"><img
                              class="card-img height-200"
                              src="{{jeu.image}}"
                              alt=""/></a>
                            
                          </div>
                          <div class="product-btm">
                            <a href="#" class="d-block">
                              <h4>{{jeu.nom}}</h4>
                            </a>
                            <div class="mt-3">
                              <span class="mr-4">{{jeu.prix}} €</span>
                               <!-- <del>$40.00</del> -->
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
            {% endif %}

          {% set i = i + 1 %}

          {% endif %}

          {% endfor %}



<!--
          <div class="single-product">
          
                   

                <div class="col-lg-4 best-three-games margin-top-three">
                  <div class="single-product">
                    <div class="product-img">
                       <a href="{{ path('produit') }}"><img
                        class="card-img  height-200"
                        src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                        alt=""/></a>
                      
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Games Of Thrones</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">€40.00</span>
                        
                      </div>
                    </div>
                  </div>
                </div>

          </div>



          <div class="single-product">
           
                   

                <div class="col-lg-4 best-three-games margin-top-three">
                  <div class="single-product">
                    <div class="product-img">
                       <a href="{{ path('produit') }}"><img
                        class="card-img  height-200"
                        src="https://cdn1.philibertnet.com/450190-large_default/monopoly-game-of-thrones.jpg"
                        alt=""/></a>
                      
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>Games Of Thrones</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">€40.00</span>
                         
                      </div>
                    </div>
                  </div>
                </div>

          </div>


-->



                    
                   
          




          <p class="synopsis ">
            Bienvenue sur <a class="click-vue" href="{{ path('accueil') }}">jeux-trop-bien</a>, qui référencie pour vous les meilleurs jeux de sociétés du moment!
          </p>
          <p class="synopsis">
            <a class="click-vue" href="{{ path('category') }}">Découvrez notre large choix</a> dans l'univers des jeux de société.
          </p>
          <p class="synopsis">
             
            <a class="click-vue" href="{{ path('category', {'firstTri': 1,'numberTri': 12, 'age': 7,'prix': 200 }) }}">Enfants</a>, 
            <a class="click-vue" href="{{ path('category', {'firstTri': 1,'numberTri': 12, 'age': 20,'prix': 200 }) }} }}">adultes</a>, 
             laissez vous tenter par les dernières nouveautés!
          </p>
         

        </div>
      </div>
    </div>
  </section>
	 

{% endblock %}
