
{% extends 'layout-admin.html.twig' %}

{% block title %}Admin - Membres{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}

     <h1 class="text-center">Gestion des membres inscrits</h1>
   
	 	<table class="table">
	        <thead>
	            <tr>
	                <th>Id</th>
	                <th>Pseudo</th>
	                <th>Restriction</th>
	                <!--<th>Accès commentaire</th>-->
	            </tr>
	        </thead>
	        <tbody>
	        {% for user in users %}
	            <tr>
	                <td>{{ user.id }}</td>
	                <td>{{ user.pseudo }}</td>
	               <!--  <td>{{ user.restricted }}</td>-->
	            <!--    <td>
	                	Interdire:
	                     <a class='red'href="{{ path('restricted', {'id': user.id}) }}" >24H</a>
	                     <a class="red" href="{{ path('signaler', {'id': user.id}) }}" >48H</a>
	                 </br>
	                  	<a href="{{ path('signaler', {'id': user.id}) }}" >Supprimer interdiction</a>


	                </td>
	            -->
	            </tr>
	        {% else %}
	            <tr>
	                <td colspan="3">Un problème est survenu</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>

   

    
{% endblock %}