{% extends 'layout.html.twig' %}

{% block title %}Mon compte - Mes avis{% endblock %}

{% block body %}

	 {{ parent() }}
	 

{% endblock %}


{% block content %}

    <section class="new_product_area section_gap_top section_gap_bottom_custom">
  

      <div class="row margin auto">
        <div class="col-lg-6 margin-auto">
          <div class="box-account no-bg margin-auto">
            <div class="choice-account">
              <div class="title-account">
               <a class="title-a" href="{{ path('compte') }}">Mon compte</a>
              </div>
              <div class="title-account">
               <a class="title-a" href="{{ path('myVotes') }}">Mes votes</a>
                </div>
               <div class="title-account titlea-current">
               <a class="title-a" href="{{ path('myComments') }}">Mes avis</a>
                </div>

            </div>
            <h5 class="text-uppercase text-center">Mes avis</h5>


            {% if comments != null %}

            <table class="table">
                <thead>
                  <tr>

                    <th></th>
                    <th>Jeu</th>
                    <th>Avis</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for comment in comments %}
                    <tr>
                      <td><img class="width-30" src="{{ comment.jeux.image }}" alt="{{ comment.jeux.image }}"></td>
                      <td>{{ comment.jeux.nom  }}</td>
                      <td><p class="showDate">{{comment.createAt|date("d/m/Y à H:i") }}</p>{{ comment.commentsContext }}</td>


                      <td>


                     <form method="post" action="{{ path('deleteComments', {'id': comment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet avis ?');">
                          <input type="hidden" name="_method" value="DELETE">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                          <button class="btn-del">Supprimer</button>
                    </form>

                   

                     </td>
                   </tr>

                 {% else %}
                  <tr>
                    <td colspan="9">pas d'enregistrement trouvé</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>



          {% else %}

           <p class=" text-center">vous n'avez encore soumis un commentaire.</p>
         {% endif %}

         
              
          </div>
          
        </div>

        
      </div>
    </div>
  </section>

	 

{% endblock %}
