{% extends 'layout.html.twig' %}

{% block title %}Mon compte - Mes votes{% endblock %}

{% block body %}

	 {{ parent() }}
	 

{% endblock %}


{% block content %}

    <section class="new_product_area section_gap_top section_gap_bottom_custom">
  

      <div class="row margin auto">
        <div class="col-lg-6 margin-auto">
          <div class="box-account no-bg margin-auto">
            <div class="choice-account">
              <div class="title-account">
               <a class="title-a" href="{{ path('compte') }}">Mon compte</a>
              </div>
              <div class="title-account titlea-current">
               <a class="title-a" href="{{ path('myVotes') }}">Mes votes</a>
                </div>
               <div class="title-account">
               <a class="title-a" href="{{ path('myComments') }}">Mes avis</a>
                </div>

            </div>
            <h5 class="text-uppercase text-center">Mes votes</h5>

            {% if votes != null %}

            <table class="table">
                <thead>
                  <tr>

                    <th></th>
                    <th>Jeu</th>
                    <th>Note Attribuée</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for vote in votes %}
                    <tr>
                      <td><img class="width-30" src="{{ vote.jeux.image }}" alt="{{ vote.jeux.image }}"></td>
                      <td>{{ vote.jeux.nom  }}</td>
                      <td>
                        {% set i = 0 %}


                        {% for i in 0..4 %}

                          {% if vote.voteValue > i %}


                            <svg height="21" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.11 90.52"><polygon class="cls-1" points="47.46 74.44 18.69 89.47 24.26 57.49 1.07 34.78 33.2 30.2 47.63 1.13 61.93 30.27 94.03 35.01 70.73 57.61 76.14 89.61 47.46 74.44" fill="orange" stroke="DimGray"/></svg>

                          

                           {% else %}

                            <svg height="21" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.11 90.52"><polygon class="cls-1" points="47.46 74.44 18.69 89.47 24.26 57.49 1.07 34.78 33.2 30.2 47.63 1.13 61.93 30.27 94.03 35.01 70.73 57.61 76.14 89.61 47.46 74.44" fill="#ebf1f0" stroke="DimGray" /></svg>


                          {% endif %}

                        {% endfor %}




                      </td>


                      <td>

                      <form method="post" action="{{ path('deleteVotes', {'id': vote.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette note ?');">
                          <input type="hidden" name="_method" value="DELETE">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vote.id) }}">
                          <button class="btn-del">Supprimer</button>
                      </form>

                      <!--  <a class="grey" href="{{ path('deleteEmail') }}">Supprimer</a></br>-->

                     </td>
                   </tr>

                 {% else %}
                  <tr>
                    <td colspan="9">pas d'enregistrement trouvé</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>



          {% else %}

           <p class=" text-center">vous n'avez encore noté aucun jeu.</p>
         {% endif %}



    

                    
          </div>
          
        </div>

        
      </div>
    </div>
  </section>

	 

{% endblock %}
