{% extends 'layout.html.twig' %}

{% block title %}Connexion{% endblock %}

  {% block body %}

    {{ parent() }}


  {% endblock %}


  {% block content %}


   <div class="product_image_area">
    <div class="container">
      <div class="row s_product_inner">
        <div class="col-lg-6">
          <div class="s_product_img">
            <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
            >
            <ol class="carousel-indicators">
            {% if jeux.imageAlt != null %} <!-- je vérifie si l'entité contient une entié étrangère, donc si le jeux a une ou des images supplémentaires -->
                <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
                >
                <!--miniature 1 -->
                <img class="img-60" 
                src="{{ jeux.image }}"
                alt=""
                />
              </li>
          
          
            
                {% if jeux.imageAlt.image2 != null %}
                    <li
                    data-target="#carouselExampleIndicators"
                    data-slide-to="1"
                    >
                    <!--miniature 2 -->
                     
                     <img class="img-60" src="{{jeux.imageAlt.image2}}" alt="{{jeux.imageAlt.image2}}"/>
                      
                  </li>
              {% endif %}
            {% endif %}

            {% if jeux.imageAlt != null %}
              {% if jeux.imageAlt.image3 != null %}
                  <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                  >
                  <!--miniature 3 -->
                   
                   <img class="img-60" src="{{jeux.imageAlt.image3}}" alt="{{jeux.imageAlt.image3}}"/>
                    
                </li>
              {% endif %}
            {% endif %}
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!--produit choisi image principal-->
          <img
          class="d-block w-100"
          src="{{ jeux.image }}" 
          alt="First slide"
          />
        </div>
        {% if jeux.imageAlt != null %}
          {% if jeux.imageAlt.image2 != null %}
          <div class="carousel-item">
            <!--produit choisi image 2-->
            
            <img class="d-block w-100" src="{{jeux.imageAlt.image2}}">
            
          </div>
          {% endif %}
        {% endif %}

        {% if jeux.imageAlt != null %}
          {% if jeux.imageAlt.image3 != null %}
          <div class="carousel-item">
            <!--produit choisi image 3-->
            
          <img class="d-block w-100" src="{{jeux.imageAlt.image3}}">
            
          </div>
          {% endif %}
        {% endif %}

      </div>
    </div>
  </div>
</div>
<div class="col-lg-5 offset-lg-1">
  <div class="s_product_text">
    <h3>{{ jeux.nom }} </h3>

   
       {% set avg = 0 %}
        {% set i = 0 %}

     {% for vote in votes %} 
      {% if vote.jeux.id %}
        {% set avg = avg + vote.voteValue %}
          
            {% set i = i + 1 %}
         
      {% endif %}
     {% endfor %}

     {% if i >= 1 %}

        {% set avg = avg / i %}

         

      {% else %}

        {% set avg = 0 %}

    {% endif %}




{% set intAvg = avg|round(0, 'floor') %}

  
  {% set floatAvg = avg - intAvg %}


     

    <div class="star-existing">

      <p class="ratingBox" itemprop="aggregateRating" itemscope>
        <span title="{{avg}} / 5">


          {% for i in 0..4 %}

            {% if intAvg > i %}


              <svg height="21" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.11 90.52"><polygon class="cls-1" points="47.46 74.44 18.69 89.47 24.26 57.49 1.07 34.78 33.2 30.2 47.63 1.13 61.93 30.27 94.03 35.01 70.73 57.61 76.14 89.61 47.46 74.44" fill="orange" stroke="DimGray"/></svg>

            {% elseif floatAvg > 0 %}

              <svg height="21" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.11 90.52"> <defs>
               <linearGradient id="starGradient">
                 <stop offset=" {{ floatAvg * 100 }}%" stop-color="orange"/>
                 <stop offset=" {{ floatAvg * 100 }}%" stop-color="#ebf1f0"/>
               </linearGradient>
             </defs>
             <polygon class="cls-1" points="47.46 74.44 18.69 89.47 24.26 57.49 1.07 34.78 33.2 30.2 47.63 1.13 61.93 30.27 94.03 35.01 70.73 57.61 76.14 89.61 47.46 74.44" fill="url(#starGradient)" stroke="DimGray" /></svg>

             {% set floatAvg = 0 %}

             {% else %}

              <svg height="21" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.11 90.52"><polygon class="cls-1" points="47.46 74.44 18.69 89.47 24.26 57.49 1.07 34.78 33.2 30.2 47.63 1.13 61.93 30.27 94.03 35.01 70.73 57.61 76.14 89.61 47.46 74.44" fill="#ebf1f0" stroke="DimGray" /></svg>


            {% endif %}

          {% endfor %}




          <span style="margin-left:10px;">
           {% if avg == 0 %}
               Pas encore de note.
           {% else %}

                Note: {{avg}} &nbsp &nbsp
                  {% if i > 1%} 
                    <i>( {{i}} votes sur ce jeu)</i>
                  {% else %}
                    <i>( {{i}} vote sur ce jeu)</i>
                  {% endif %}
           {% endif %}
         </span>

        </span>

      </p>
    </div>
              



                  <h2>{{ jeux.prix }} €</h2>
                  <ul class="list">
                    <li>
                      <a class="active" href="#">
                        <span>Categorie:</span>

                        {% for jeux in jeux.getCategories() %}
                          
                         
                              {{ jeux.nomCat }}
                         

                         
                        {% endfor %}

                       </a>
                      </li>

                    </ul>
                    <p>
                     {{ jeux.description }}
                   </p>




                 </div>
                 <div class="card_area">

                  <a id="comment_active" class="main_btn" href="#review_vue">Soumettre un avis</a>
                  <a id="voter_active" class="main_btn" href="#review_vue">Laisser une note</a>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--================End Single Product Area =================-->

      <!--================Product Description Area =================-->
      <div id="review_vue">
      </div>
      <section class="product_description_area">
        <div class="container">
          <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item">
              <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >Caractéristiques</a
              >
            </li>
            <li class="nav-item">
              <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              href="#contact"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
              >Avis</a
              >
            </li>
            <li class="nav-item">
              <a
              class="nav-link active"
              id="review-tab"
              data-toggle="tab"
              href="#review"
              role="tab"
              aria-controls="review"
              aria-selected="false"
              >Note</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">

            <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
            >
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <h5>Nombre de joueurs</h5>
                    </td>
                    <td>
                      <h5>  {% if jeux.nbJoueurMin != jeux.nbJoueurMax %} 

                             {{ jeux.nbJoueurMin }} à {{ jeux.nbJoueurMax }}
                            {% else %}
                              {{ jeux.nbJoueurMax }} 
                            {% endif %}

                      </h5>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Durée d'une partie</h5>
                    </td>
                    <td>
                      <h5> {% if jeux.duree == 1 %} 
                            Moins de 30 min 
                            {% elseif jeux.duree == 2 %}
                              30 min à 1h 
                               {% elseif jeux.duree == 3 %}
                                1 à 2h 
                                {% elseif jeux.duree == 4 %}
                                2 à 3h 
                                 {% elseif jeux.duree == 5 %}
                                3 à 4h
                              {% elseif jeux.duree == 6 %}
                                4h et +   
                            {% endif %}
                      </h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Catégories</h5>
                    </td>
                    <td>
                      <h5>

                        {% for jeux in jeux.getCategories() %}
                          
                         
                              {{ jeux.nomCat }}
                         

                         
                        {% endfor %}

                      </h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Âge</h5>
                    </td>
                    <td>
                      <h5>À partir de {{ jeux.ageMin}} ans</h5>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div
          class="tab-pane fade"
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
          >
          <div class="row">
            <div class="col-lg-6">
              <div class="comment_list">
                <div class="scrolldiv">

                  {% if (commentaires|length >= 1) %}
                        Il y a {{commentaires|length}} avis sur ce jeu.
                      {% else %}
                        Il n'y a pas encore de commentaire. Soyez le premier à publier !
                      {% endif %}


                  {% for commentaire in commentaires %}

                    <div class="review_item">
                      <div class="media">
                        <div class="d-flex">
             
                        </div>
                        <div class="media-body">
                          <h4>{{commentaire.user.pseudo}}</h4>
                          {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                             <p class="reports" >
                              <a href="{{ path('signaler', {'id': commentaire.id}) }}" >Signaler</a>
                            </p>
                          {% else %}
                            <span title="Réservés au membres connectés">
                            <p class="reports" >
                             Signaler
                            </p>

                            </span>
                          {% endif %}

                          <h5>{{commentaire.createAt|date("d/m/Y à H:i")}} </h5> 
                    
                        </div>
                      </div>

                      <p>
                        {% if commentaire.commentsContext %}
                            {{commentaire.commentsContext}} 

                          {% endif %} 
                      </p>
                    </div>

                  {% endfor %}
                </div>

                    

                    <!--
                    <div class="review_item">
                      <div class="media">
                        <div class="d-flex">
             
                        </div>
                        <div class="media-body">
                          <h4>Bob le square</h4>
                          <h5>09/11/2019 à 05:56</h5>
                    
                        </div>
                      </div>
                      <p>
                        Très bon jeu, on est totalement immergé dans le thème, on se croirait à westeros.
                      </p>
                    </div>


                    <div class="review_item">
                      <div class="media">
                        <div class="d-flex">
                  
                        </div>
                        <div class="media-body">
                          <h4>Carlos scampis</h4>
                          <h5>09/11/2019 à 05:56</h5>
                          
                        </div>
                      </div>
                      <p>
                        Un Monopoly comme on les aiment avec un atout majeur, des pieces d'argent et des lions d'or et non des billets comme on en a tant l'habitude. C'est une bonne idée.
                      </p>
                    </div>
                  -->


                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="review_box">



                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                   
                  <h4>Donne ton avis</h4> 
                  <div class="col-md-12">
                    <div class="form-group">
                      {{ form_start(form) }}
                      {{ form_widget(form.comments_context, {'attr': {'class': 'form-control', 'rows': "9"} }) }}  

                    </div>
                  </div>
                  <div class="col-md-12 ">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn submit_btn'} }) }}
                    {{ form_end(form) }}           
                  </div>

              {% else %}
                    <form  name="returnAfterConnect"class="" method="get" action="{{ path('login') }}">

                        <input type="hidden" name="currentId" value="{{jeux.id}}">

                        <h5><a  href="" onclick='document.forms["returnAfterConnect"].submit(); return false;'>Connectez-vous </a>pour poster un avis.</h5>
                       
                    </form>
                    
              {% endif %}





                  </div>
                </div>
              </div>
            </div>
          <div
        class="tab-pane fade show active"
        id="review"
        role="tabpanel"
        aria-labelledby="review-tab"
        >
        <div class="row">

          <div class="col-lg-6 center">
            <div class="review_box">
             


          
            
         
          {% set canVote = true %}

          {% for vote in votes %} 
            
          {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            {% if (vote.user.id == user.id) and (vote.jeux.id == jeux.id) %}

                  Vous avez noté ce jeu: {{vote.voteValue}}/5
                  {% set canVote = false %}
               
            {% endif %}
          {% endif %}
          {% endfor %}

          <!-- Je vérifie qu'il est connecté pour pouvoir attribué une note au jeux -->
            
          {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}

             <!-- Je vérifie qu'il n'as pas déja voté ce jeu -->
            {% if canVote == true%}
            <h4>Ajouter une note</h4>
            <p>Votre vote:</p>

            <p id="nbstars"> En attente</p>

            <form  class="row contact_form " name="vote" id="contactForm" method="post" action="{{ path('category_id', {id: jeux.id}) }}">

              <div class="rating rating2">
                <input type="radio" id="star5" name="rating" value="5"/>
                <label for="star5">★</label>

                <input type="radio" id="star4" name="rating" value="4"/>
                <label for="star4" title="Geil">★</label>

                <input type="radio" id="star3" name="rating" value="3"/>
                <label for="star3" title="Gut">★</label>

                <input type="radio" id="star2" name="rating" value="2"/>
                <label for="star2" title="So gut wie">★</label>

                <input type="radio" id="star1" name="rating" value="1"/>
                <label for="star1" title="Schlecht">★</label>
              </div>


              <div class="col-md-12 ">
               <button type="submit" value="submit" class="btn submit_btn">Attribuer cette note</button>
             </div>
           </div>
         </form>

       {% endif %}


     {% else %}

        <form  name="returnAfterConnect"class="" method="get" action="{{ path('login') }}">

            <input type="hidden" name="currentId" value="{{jeux.id}}">

            <h5><a  href="" onclick='document.forms["returnAfterConnect"].submit(); return false;'>Connectez-vous </a>pour noter ce jeu.</h5>
           
        </form>

     {% endif %}
                   {% for message in app.flashes('warning') %}
                  <div class="alert alert-warning">
                      {{ message }}
                  </div>
              {% endfor %}
       
         
         

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}
