{% extends 'layout.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}

   {{ parent() }}
   

{% endblock %}

  {% block content %}

    <section class="cat_product_area section_gap">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="product_top_bar">
              <div class="left_dorp">
                {{ form_widget(form.firstTri) }}
                {{ form_widget(form.numberTri, {'attr': {'class': 'margin-left-20'} }) }}


              </div>

              {% block searchForm %}
              {% endblock %}


            

              


               
            


                


            </div>

            <div class="latest_product_inner">
              <div class="row">




                {% for jeu in jeux %}


                <div class="col-lg-4 col-md-6">
                  <div class="single-product">
                    <div class="product-img">
                     <a href="{{ path('category_id', {'id': jeu.id}) }}"><img
                      class="card-img"
                      src="{{jeu.image}}"
                      alt="{{jeu.nom}}"/></a>
                      <div class="p_icon">
                        <a href="{{ path('category_id', {'id': jeu.id}) }}">
                          <i class="ti-eye"></i>
                        </a>
                      
                        
                      </div>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4>{{jeu.nom}}</h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">${{jeu.prix}}</span>
                        
                      </div>
                    </div>
                  </div>
                </div>
              
               
                {% endfor %}

            

                <div class="main">
                  {{ knp_pagination_render(jeux) }}
                  <!--
                  <div id="pagination">
                    <a class="page" href="#">&laquo;</a>
                    <a class="page" href="#">1</a>
                    <a class="page active" href="#">2</a>
                    <a class="page" href="#">3</a>
                    <a class="page" href="#">4</a>
                    <a class="page" href="#">5</a>
                    <a class="page" href="#">6</a>
                    <a class="page" href="#">&raquo;</a>
                  </div>
                -->
                </div>
              


              </div>
            </div>
          </div>






          <div class="col-lg-3">
            <div class="left_sidebar_area">
              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>Catégories</h3>
                </div>
                <div class="widgets_inner">
                  <ul class="list">
                    {{ form_widget(form.categorie) }}
                   

               </ul>
             </div>
           </aside>

           <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
             <h3>Nombres de joueurs</h3>
           </div>
           <div class="widgets_inner">
            <ul class="list">
              {{ form_widget(form.nbJoueur) }}

         </ul>
       </div>
     </aside>

     <aside class="left_widgets p_filter_widgets">
      <div class="l_w_title">
        <h3>Durée</h3>
      </div>
      <div class="widgets_inner">
        <ul class="list">
          {{ form_widget(form.duree) }}
         
      </ul>
    </div>
  </aside>




  <aside class="left_widgets p_filter_widgets special-width-age-container">
    <div class="l_w_title">
     <h3>Âge</h3>
   </div>
   <div class="widgets_inner">
    <div id="container-text-age">

      <div class="review_box">
        <p id="age-text">À partir de:</p> <p id="text-age-choice"></p>
      </div>
    </div>
    <div class="clear">
    </div>

    <ul class="ul-age">
      {{ form_widget(form.age, {'attr': {'class': ''} }) }}
      <form  class="searchbar" method="get" action="{{ path('category') }}">
      {{ form_widget(form.tri, {'attr': {'class': ''} }) }}
      </form>

      
     




     <!--
      <li>
       <input class="age" type="radio" id="age-1" name="ages" value="age"><label id="1" for="age-1" class=" age-choice ">1</label> <br>
     </li>

     <li>
       <input class="age" type="radio" id="age-2" name="ages" value="age"><label id="2" for="age-2" class=" age-choice "> 2 </label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-3" name="ages" value="age"><label id="3" for="age-3" class=" age-choice ">3</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-4" name="ages" value="age"><label id="4" for="age-4" class=" age-choice ">4</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-5" name="ages" value="age"><label id="5" for="age-5" class=" age-choice ">5</label> <br>
     </li> 

     <li>
       <input class="age" type="radio" id="age-6" name="ages" value="age"><label id="6" for="age-6" class=" age-choice ">6</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-7" name="ages" value="age"><label id="7" for="age-7" class=" age-choice ">7</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-8" name="ages" value="age"><label id="8" for="age-8" class=" age-choice ">8</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-9" name="ages" value="age"><label id="9" for="age-9" class=" age-choice ">9</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-10" name="ages" value="age"><label id="10" for="age-10" class=" age-choice ">10</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-11" name="ages" value="age"><label id="11" for="age-11" class=" age-choice ">11</label> <br>
     </li> 

     <li>
       <input class="age" type="radio" id="age-12" name="ages" value="age"><label id="12" for="age-12" class=" age-choice ">12</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-13" name="ages" value="age"><label id="13" for="age-13" class=" age-choice ">13</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-14" name="ages" value="age"><label id="14" for="age-14" class=" age-choice ">14</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-15" name="ages" value="age"><label id="15" for="age-15" class=" age-choice ">15</label> <br>
     </li>  

     <li>
       <input class="age" type="radio" id="age-16" name="ages" value="age"><label id="16" for="age-16" class=" age-choice ">16</label> <br>
     </li> 

     <li>
       <input class="age" type="radio" id="age-17" name="ages" value="age"><label id="17" for="age-17" class=" age-choice ">17</label> <br>
     </li> 

     <li>
       <input class="age" type="radio" id="age-18" name="ages" value="age"><label id="18" for="age-18" class=" age-choice ">18</label> <br>
     </li>             

     <li class="clear">
       <input class="age" type="radio" id="age-tous" name="ages" value="age"><label id="0" for="age-tous" class="tout-ages age-choice ">Tout âge</label> <br>
     </li> 
      -->              
   </ul>


 </div>
</aside>


<aside class="left_widgets p_filter_widgets">
  <div class="l_w_title">
    <h3>Prix</h3>
  </div>
  <div class="widgets_inner">
    <div class="range_item">
      <div id="slider-range"></div>
      <div class="">
        <label for="amount">Price : </label>
        <input type="text" id="amount" readonly />

         
      <!-- <button class="filtre">rechercher</button>-->
       
      </div>
    </div>
  </div>
</aside>
</div>
</div>

</div>


</div>

</div>




</section>
{% endblock %}
