{% extends 'layout-admin.html.twig' %}

{% block title %}ADMIN - Modifier catégorie{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}

           <h1>Modification catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('category_index') }}">retour</a>




    
{% endblock %}

