{% extends 'layout-admin.html.twig' %}

{% block title %}ADMIN - Accueil{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}

        <h1>Admin - Categories</h1>
    <a href="{{ path('category_new') }}">Ajouter une catégorie</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>catégorie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.nomCat }}</td>
                <td>
                    
                    <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
                    {{ include('category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   

    
{% endblock %}