{% extends 'layout-admin.html.twig' %}

{% block title %}ADMIN - Ajout catégorie{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}

        <h1>Ajout d'une catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">retour</a>
   

    
{% endblock %}



