{% extends 'layout-admin.html.twig' %}

{% block title %}ADMIN - Signalement{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}
    <h1>Admin - Signalement</h1>
    

    {% if comments != null %}

            <table class="table">
                <thead>
                  <tr>

                    <th></th>
                    <th>Jeu</th>
                    <th>Utilisateur</th>
                    <th>Avis</th>
                     <th>Signalement</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for comment in comments %}
                    <tr>
                      <td><img class="width-30" src="{{ comment.jeux.image }}" alt="{{ comment.jeux.image }}"></td>
                      <td>{{ comment.jeux.nom  }}</td>
                      <td>{{comment.user.pseudo}}<p class="showDate">{{comment.createAt|date("d/m/Y à H:i") }}</p></td>


                      <td>{{ comment.commentsContext }}</td>

                      <td>{{ comment.reports}}</td>
                      <td>
                       <form method="post" action="{{ path('deleteCommentsAdmin', {'id': comment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet avis ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                            <button class="btn-del">Supprimer</button>
                      </form>
                    </td>

                   

                     </td>
                     
                   </tr>

                 {% else %}
                  <tr>
                    <td colspan="9">pas d'enregistrement trouvé</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>



          {% else %}

           <p class=" text-center">vous n'avez encore soumis un commentaire.</p>
         {% endif %}





    
{% endblock %}


