
{% extends 'layout-admin.html.twig' %}

{% block title %}ADMIN - Accueil{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}

    <h1>Edit - Liste des jeux</h1>
   
<img class="img-310" src="{{ jeux.image }}" alt="{{ jeux.nom }}">

    {{ include('jeux/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    
    	

    <a href="{{ path('jeux_index') }}">Retour liste</a>

    {{ include('jeux/_delete_form.html.twig') }}
   

    
{% endblock %}



