{% extends 'layout-admin.html.twig' %}

{% block title %}ADMIN - Accueil{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}

    <h1>Admin - Liste des jeux</h1>
       <a href="{{ path('jeux_new') }}">Ajouter nouveau jeu</a>
   

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Age_min</th>
                <th>Nb_joueur_min</th>
                <th>Nb_joueur_max</th>
                <th>Duree</th>
                <th>Prix</th>
                <th>image</th>
                <th>Catégories</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeux in jeuxes %}
            <tr>
                <td>{{ jeux.id }}</td>
                <td>{{ jeux.nom }}</td>
                <td>{{ jeux.ageMin }}</td>
                <td>{{ jeux.nbJoueurMin }}</td>
                <td>{{ jeux.nbJoueurMax }}</td>
                <td>{{ jeux.duree }}</td>
                <td>{{ jeux.prix }}</td>
             
                <td><img class="img-310" src="{{ jeux.image }}" alt="{{ jeux.nom }}">
                    <!-- miniature , image alternatives 1 et 2 -->
                    {% if jeux.imageAlt.image2 is defined%}
                        <img class="img-60" src="{{jeux.imageAlt.image2}}">
                     {% endif %}
                    {% if jeux.imageAlt.image3 is defined%}
                        <img class="img-60" src="{{jeux.imageAlt.image3}}">
                    {% endif %}

                 </td>
                
                 <td> 
                   
                        {% for jeux in jeux.getCategories() %}
                          
                         
                              {{ jeux.nomCat }}
                         

                         
                        {% endfor %}
                </td> 
                <td>{{ jeux.description }}</td>
                
                <td>
                    <a href="{{ path('jeux_show', {'id': jeux.id}) }}">Voir</a>
                    <a href="{{ path('jeux_edit', {'id': jeux.id}) }}">Modifier</a>
                    {{ include('jeux/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('jeux_new') }}">Ajouter nouveau jeu</a>
{% endblock %}

