
{% extends 'layout-admin.html.twig' %}

{% block title %}Admin - Ajout jeux{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}

    <h1>Nouveau jeu</h1>
   


    {{ include('jeux/_form.html.twig') }}

    <a href="{{ path('jeux_index') }}">Retour liste</a>
   

    
{% endblock %}