
{% extends 'layout-admin.html.twig' %}

{% block title %}ADMIN - Accueil{% endblock %}

{% block body %}

     {{ parent() }}
     

{% endblock %}


{% block content %}

   
       <h1>Jeux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeux.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ jeux.nom }}</td>
            </tr>
            <tr>
                <th>Age_min</th>
                <td>{{ jeux.ageMin }}</td>
            </tr>
            <tr>
                <th>Nb_joueur_min</th>
                <td>{{ jeux.nbJoueurMin }}</td>
            </tr>
            <tr>
                <th>Nb_joueur_max</th>
                <td>{{ jeux.nbJoueurMax }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ jeux.duree }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ jeux.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ jeux.image }}</td>
            </tr>
            <tr>
                <th>catégorie</th>
                <td> 
                   
                      
                        {% for jeux in jeux.getCategories() %}
                          
                         
                              {{ jeux.nomCat }}
                         

                         
                        {% endfor %}

                         
                   
                    

                    </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jeux_index') }}">retour</a>

    <a href="{{ path('jeux_edit', {'id': jeux.id}) }}">Modifier</a>

    {{ include('jeux/_delete_form.html.twig') }}

    
{% endblock %}
