{% extends 'base.html.twig' %}

{% block stylesheets %}

     <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}" />

          <!-- main css -->
          <link rel="stylesheet" href="{{asset('css/style.css')}}" />
          <link rel="stylesheet" href="{{asset('css/responsive.css')}}" />

    
     <link href="{{asset('admin/css/simple-sidebar.css')}}" rel="stylesheet"/> 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
    

{% endblock %}

{% block body %}

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menu Admin </div>
      <div class="list-group list-group-flush">
        <a href="{{ path('jeux_index') }}" class="list-group-item list-group-item-action bg-light">Liste des jeux</a>
        <a href="{{ path('category_index') }}" class="list-group-item list-group-item-action bg-light">Catégories</a>
        <a href="{{ path('allReports') }}" class="list-group-item list-group-item-action bg-light">Signalement</a>
       
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>
        <h3 class="admin-title"> Jeux-trop-bien</h3>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('accueil') }}">Aller sur le site <span class="sr-only">(current)</span></a>
            </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gestion membres
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('addAdmin') }}">Ajouter compte Admin</a>
               <!-- <a class="dropdown-item" href="{{ path('Membres') }}">Bloquer utilisateur</a>-->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
         {% block content %}
        {% endblock %}
        
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->



{% endblock %}

{% block javascript %}

         <script src="{{asset('admin/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('admin/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  <script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
     <script>
    $('select').select2();
    </script>
    
{% endblock %}




