{% extends 'layout.html.twig' %}

{% block title %}Reset - Mot de passe{% endblock %}

{% block body %}

	 {{ parent() }}
	 

{% endblock %}


{% block content %}

    <section class="new_product_area section_gap_top section_gap_bottom_custom">
  

      <div class="row margin auto">
        <div class="col-lg-6 margin-auto">
          <div class="box-account no-bg margin-auto">
 
            <h5 class="text-uppercase text-center">Réinitialiser mot de passe</h5>

            <div class="box-connect no-bg margin-auto">
            {{form_start(form)}}
            {{ form_widget(form.email, {'attr': {'placeholder':'Indiquer votre email', 'class': 'userconnect'} }) }}
             {{form_end(form)}}
              <a class="" href="{{ path('login') }}">Annuler</a></br>
           </diV>


                  {% for message in app.flashes('success') %}
                      <div class="alert alert-success">
                        {{ message }}
                      </div>
                  {% endfor %}

                  {% for message in app.flashes('error') %}
                      <div class="alert alert-danger">
                        {{ message }}
                      </div>
                  {% endfor %}
           
         
              
          </div>
          
        </div>

        
      </div>
    </div>
  </section>

	 

{% endblock %}
